* {
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#page {
	font-size: 20px;
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	background: url('background/bg1.jpg') no-repeat bottom left; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
	margin: 0;
	height: 45px;
	font-size: 24px;
	color: #E4E4E4;
}
header.menu {
	/*background-color: #6A5188;*/
	background-color: rgba(45,56,74,0.88);
}
header.title {
	/*background-color: #765A98;*/
	/*background-color: #2D384A;*/
	background-color: rgba(45,56,74,0.88);
}

#sidebar {
	/*background-color: #C5BAD1;*/
	margin: 0;
	width: 280px;
	display: flex;
	height: 100vh;
	background-color: rgba(246,246,246,0.88);
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#people {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

#container {
	margin: 0;
	display: flex;
	height: 100vh;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;	

	/* For full width */
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

#chat {	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	width: 80%;
	margin: 10px auto 0;
	background-color: rgba(246,246,246,0.88);
}

#form {
	display: flex;
	margin: 10px auto;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	height: 40px;
	width: 80%;
}
#form input {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	height: 100%;
	border: 0;
	border-left: solid 1px #B7B7B7;
	border-right: solid 1px #B7B7B7;
	width: 80%;
	outline: 0;
}
#form button {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	flex: 1;
	background-color: #F6F6F6;
	outline: 0;
	height: 100%;
	border: 0;
}

@media screen and (max-width: 720px) {
	#sidebar {
		display: none;
		font-size: 90px;
	}	
}

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}*/